@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 10px;
  /* font-family: "Inter"; */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slick-list {
  height: 38rem;
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}
